.carousel, .carousel-settings{
    margin:auto;
    max-width: 600px;
}
.carousel-item-box img{
    width: 100%;
    height: auto;
}
.carousel-control-prev, .carousel-control-next{
    cursor: pointer;
}
